<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Pram</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Dynamic Reports Test</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user, stats : ${users}">
            <td th:text="${user.id + 1}">1</td>
            <td th:text="${user.firstName}">John</td>
            <td th:text="${user.lastName}">Doe</td>
            <td th:text="${user.email}">john.doe@example.com</td>
            <td th:text="${user.age}">27</td>
        </tr>
        </tbody>
    </table>

    <button type="button" th:onclick="|window.location.href='/generate-pdf-report'|">PDF</button>
    <button type="button" th:onclick="|window.location.href='/generate-excel-report'|">Excel</button>
    <button type="button" th:onclick="|window.location.href='/generate-image-preview'|">Preview</button>
    <br/>
    <select th:field="*{reportTypes}">
        <option th:each="reportType: ${reportTypes}"
                th:value="${reportType}"
                th:text="${reportType}"/>
    </select>
    <br/>
    <img src="/generate-image-preview">

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>